html{
    background:-webkit-linear-gradient(left,#a445b2, #fa4299);
}
label.VE{
    color:  rgb(203, 252, 24);
    margin-left: 5px;
}
.hide{
    display:none;
}
h1{
    color:rgb(255, 255, 255) ;
    text-align: center ;
    font-weight: bold;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
}
h2{
    color: rgb(0, 247, 255);
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    margin-top: -15rem;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    
    background-position: center;
    background-size: cover;
}
body > table{
    width:100%;
    max-height: fit-content;
    text-align: center;  
    color: rgb(255, 136, 0);
    border-radius: 10px 50px; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
table{
    border-collapse: collapse;
}
table.L{
    width:100%;
    padding: 5px;
    height: 20px;
    border-collapse: collapse;
    background-color:rgb(251, 184, 0);  
}
td, th {
    border: 1px solid rgb(38, 255, 0);
    text-align: center;
    padding: 8px;
    color: rgb(251, 251, 251);
    height: 40px;
}
tr:nth-child(even),table.L thead>tr {
    background-color: rgb(0, 110, 255);
}
a{
    
    cursor: pointer;
    width:20%;
    margin-right:4px;
    border: 5px solid rgb(218, 111, 23);
    color:rgb(255, 255, 255);
    padding: 8px 12px;
    margin:8px 0;
    border:none;
    cursor: pointer;
    box-shadow: 1px 1px 3px 3px #a5099d;
}
a:hover{
    background-color:rgba(45, 32, 231, 0.835);
}
input[type=text],[type=email]{
    width:100%;
    padding: 12px 20px;
    margin: 2.5px 0;
    display: inline-block;
    border: 5px solid rgb(218, 111, 23);
    box-sizing: border-box;
}
input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 2.5px 0;
    display: inline-block;
    border: 5px solid rgb(218, 111, 23);
    border-radius:10px;
    box-sizing: border-box;
}
input[type=submit]{
    border: none;
    height: 40px;
    width: 130px;
    font-size: 15px;
    margin-top: 20px;
    color:rgb(255, 255, 255);
    position: relative;
    box-shadow: 0.1px 0.1px 4px 4px #ffc400;
    margin-right:200px;
    cursor: pointer;
    background-color:#a5099d;
}
input[type=submit]:hover{
    background-color:rgba(45, 32, 231, 0.835);
}
input[type=reset]{
    height: 40px;
    width: 130px;
    margin-top: -40px;
    font-size: 15px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    box-shadow: 0.1px 0.1px 4px 4px #ffc400;
    margin-left:200px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color:#a5099d;
    }
input[type=reset]:hover{
    background-color:rgba(45, 32, 231, 0.835);
}

